h1{
  text-align: center;
  padding-top:3em;
}
.submit-button{
  max-width:400px;
}
.form{
  padding-top:3em;
}
.form-data{
  padding-left: 7em;
}


@media screen and (max-width: 991px) and (min-width: 768px){
  .form-data{
    padding-left: 2em;
  }
} /** Small size screen **/
