/** Generic screen sizes **/


body{
  font-family: 'Montserrat', sans-serif;
  color: #47A8EE;
}
h1{
  font-weight: lighter;
}
h4{
  text-transform: uppercase;
  padding-top: 24px;
}
p{
  font-family: 'Lato', sans-serif;
  font-weight:500;
  font-size: 16px;
  line-height: 30px;
  color: #707070;
}

/** Navigation **/
.navbar li{

}

/** Healthy living section **/

.about-statement{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-statement p{
  line-height: 30px;
}

/** Workout Options **/
.plans{
  padding-left:30px;
}
.fitness-image{

}

/** Testimonial **/
.testimonial{
  padding-top: 64px;
  padding-bottom: 64px;
}

.testimonial h1{
  text-align: center;
  font-weight: lighter;
  padding-bottom: 32px;
}
.testimonial p{
  padding-top: 32px;
  line-height: 30px;
  max-width: 300px;
  margin:0 auto;
}
.testimonial img{
  margin: 0 auto;
}

/** Instagram Feed **/
iframe{
  padding-bottom:0;
  margin-bottom:0;
}


/** Footer **/
.first-column{
  float:left;
  max-width:50%;
}


#footer{
  color:white;
  text-align: center;
  padding-bottom: 25px;
  background-color: #8CC6DB;
}
#footer a{
  color:white;
}
#footer h4{
  padding-left: 110px;
  padding-top:25px;
  font-size: 24px;
}
#footer p{
  font-size:18px;
  padding-left: 120px;
  color: white;
}
#footer li{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  list-style-type: none;
  font-size: 18px;
}

/** Largest screen size (1200px) **/

@media screen and (min-width: 1200px){

  .plans{
    display: inline-block;
    width: 24%;
    vertical-align: text-top;
  }

  .container{
    margin: 0 auto;
    width: 90%;
  }
  .top-photo img{
    max-width: 100%;
    height: auto;
  }
  .page-footer{
    display:inline-block;
  }
  #footer{
    text-align: center;
    background-color: #8CC6DB;
  }
  #footer h5{
    font-size: bold;
  }

} /** Largest screen size (1200px) **/


/** Medium size screen **/
@media screen (max-width: 1199px) and (min-width: 992px){

} /** Medium size screen **/


/** Small size screen **/
@media screen and (max-width: 991px) and (min-width: 768px){

} /** Small size screen **/


/** Extra small size screen **/
@media screen and (max-width: 767px){
  .plans p{
    max-width: 550px;
  }
  .plans{
    margin: 0 auto;
  }
} /** Extra small size screen **/
