/** Generic screen sizes **/

/** Healthy living section **/
.about-statement{
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
.about-statement p{
  line-height: 30px;
}

/** Workout Options **/
.plans{
  padding-left:30px;
}
.plans p{
  line-height: 30px;
}
.fitness-image{
  /*height: 200px;
  width: 300px;*/

}


/** Footer **/
.first-column{
  float:left;
  max-width:50%;
}
#footer{
  text-align: center;
  background-color: grey;
  padding-bottom: 25px;
}
#footer h4{
  padding-left: 110px;
  padding-top:25px;
}
#footer p{
  font-size:18px;
  padding-left: 120px;
}
#footer li{
  list-style-type: none;
  font-size: 18px;
}

/** Largest screen size (1200px) **/

@media screen and (min-width: 1200px){

  .plans{
    display: inline-block;
    width: 24%;
    vertical-align: text-top;
  }

  .container{
    margin: 0 auto;
    width: 90%;
  }
  .top-photo img{
    max-width: 100%;
    height: auto;
  }
  .page-footer{
    display:inline-block;
  }
  #footer{
    text-align: center;
    background-color: grey;
  }
  #footer h5{
    font-size: bold;
  }

} /** Largest screen size (1200px) **/


/** Medium size screen **/
@media screen (max-width: 1199px) and (min-width: 992px){
  #main-img{
    content:url("../css/img/header-photo-med.png");
    width:100%;
    height: auto;
}
.plans img{
  padding-left: 10px;
  padding-right: 10px;
}
} /** Medium size screen **/


/** Small size screen **/
@media screen and (max-width: 991px) and (min-width: 768px){
  #main-img{
    content:url("../css/img/header-photo-small.png");
    max-width:100%;
    height: auto;
}
} /** Small size screen **/


/** Extra small size screen **/
@media screen and (max-width: 767px){
  #main-img{
    content:url("../css/img/header-photo-xsmall.png");
    max-width:100%;
    height: auto;
}
} /** Extra small size screen **/
